@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DOUZ 2020<br />
    DOUZ<br />
    <abbr title="Phone">P:</abbr>
    22345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">douz@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">douz2020@gmail.com</a>
</address>